build
build-ninja
build-ARM64
bin
Bin
*.idea
*.fleet
.cache
*.DS_Store
.vs/
temp/
venv/
__pycache__/
tools/accuracy/ifeval/output*/
tools/accuracy/mmlu/output*/
tools/accuracy/mmlu/mmlu_data/
tools/accuracy/mmlu/*.log
tools/accuracy/ifeval/*.log
.venv*/
wmlp/
Logs/
.vscode/*
/build.*
/build_release.*
clang-tidy-output.txt
mlperf-public-patch.diff
*.spec
!src/CIL/IHV/Diffusers/tools/standalone.spec
src/CIL/IHV/Diffusers/tools/dist/
src/CIL/IHV/MLX/src/swift/Package.swift
