build
build-ninja
build-ARM64
bin
*.idea
*.fleet
.cache
*.DS_Store
.vs/
temp/
venv/
__pycache__/
data/llama2/tokenizer_encode*
data/llama2/tokenizer_decode*
.vscode/*
/build.*
/build_release.*
data/llama2/models/*
clang-tidy-output.txt
.DS_Store
