Checks: "clang-diagnostic-*,\
clang-analyzer-*,\
cppcoreguidelines-*,\
google-*,\
modernize-*,\
misc-*,\
readability-*,\
performance-*,\
portability-*,\
"
HeaderFilterRegex: '**/(Source|src)/*\.(hpp|h)'
